<h2>User</h2>
 <ul class="utilisateur">
   <li *ngFor="let utilisateur of Utilisateur"
     [class.selected]="utilisateur === Utilisateur"
     (click)="onSelect(utilisateur)">
     <span class="badge">{{utilisateur.id}}</span> {{utilisateur.lastname}}
   </li>
 </ul>

 <div *ngIf="selectedUtilisateur">

   <h2>{{selectedUtilisateur.lastname | uppercase}} Details</h2>
   <div><span>id: </span>{{selectedUtilisateur.id}}</div>
   <div>

     <label>lastname:
       <input [(ngModel)]="selectedUtilisateur.lastname" placeholder="lastname"/>
     </label>

<br>

     <label>firstname:
       <input [(ngModel)]="selectedUtilisateur.firstname" placeholder="firstname"/>
     </label>
<br>
     <label>email:
       <input [(ngModel)]="selectedUtilisateur.email" placeholder="email"/>
     </label>
<br>

     <label>phonenumber:
       <input [(ngModel)]="selectedUtilisateur.phonenumber" placeholder="phonenumber"/>
     </label>
<br>

     <label>licencenumber:
       <input [(ngModel)]="selectedUtilisateur.licencenumber" placeholder="licencenumber"/>
     </label>
<br>
     <label>password:
       <input [(ngModel)]="selectedUtilisateur.password" placeholder="password"/>
     </label>



   </div>

 </div>
